body
{
padding-bottom:100px;
font-family: sans-serif;	
}
header
{
background-color: rgb(13, 59, 86);
}
.container
{
width: 100%;
}
.search
{
padding-bottom: 30px;
margin-top: 40px;
}
input {
box-sizing: border-box;
width: 60%;
border: 1px solid #999;
background: #fff;
border-radius: 25px;
outline: none;
padding: 10px;
}
button {
height: 40px;
background-color: #555;
padding: 10px;
border: none;
color: #fff;
width: 50px;
border-radius: 10px;
}
button:before {
content: '';
position: absolute;
display: block;
height: 40px;
top: 0px;
left: -10px;
width: 10px;
background: #fff;
border-left: 1px solid #999;
}
#weather
{
text-align: center;
padding: 50px;
line-height: 12px;
width: 250px;
height: 250px;
border-radius: 50%;
background-color: rgba(209, 210, 243, 0.2);
box-shadow: 2px 10px 15px #967C7C;
}
#weather p{
font-size: 23px;
font-family: fantasy;
line-height: 1em;
}
#weather h2
{
font-size: 25px;
font-family: serif;
font-weight: 900;
}
#weather img{
width: 70px;
height:70px;
}
h3
{
font-size: 30px;
font-family: cursive;
color: #070763;
font-weight: bolder;
}
.tempdata
{
padding-bottom: 50px;
}
.locsearch
{
padding-left: 35%;	
}
header>img
{
width: 250px;
}
/* .col-sm-6
{
background-color: #97CDE0;
padding: 35px;
} */
table {
border-collapse: collapse;
width: 100%;
}
tr:nth-child(even){background-color: #D4E9F3}
#table2 tr:nth-child(odd){ background-color: #98E4E4;}
#table2>thead>tr>th
{
font-size: 15px;
color: #312727;
}
#table1>tbody>tr>td
{
text-align: justify;
line-height: 1.5em;
font-family: sans-serif;
font-size: 15px;
font-weight: 700;
vertical-align: top;
border-top: 1px solid #ddd;
padding-left: 50px;
padding-right: 50px;
padding-top: 15px;
padding-bottom: 15px;
} 
#table2>tbody>tr>td
{
text-align: justify;
line-height: 1.5em;
font-family: sans-serif;
font-size: 15px;
font-weight: 200;
vertical-align: top;
border-top: 1px solid #ddd;
padding: 15px; 
}
#less
{
display:none;
}
thead>tr>th>a>span
{
padding: 7px;
}
thead>tr>th>a{
font-size: 20px;
font-weight: 700;
font-family: sans-serif;
float: right;
color: #312727;
}
.table-responsive
{
width: 100%;
}
#hourstable
{
height: 480px;
overflow: hidden;
}
#table2>tbody>tr>th
{
padding:15px;
}
#table1>tbody>tr>th{
text-align: justify;
line-height: 1.5em;
font-family: sans-serif;
font-size: 25px;
font-weight: 700;
vertical-align: top;
color: aliceblue;
background-color: #5F97A7;
border-top: 0px;
padding-left: 50px;
padding-right: 50px;
padding-top: 15px;
padding-bottom: 15px;
}
#table2>tbody>tr>td>img{
margin-top: -10px;
width: 45px;
height: 45px;
}
h2:after, #temp:after{
content: "\00b0"
}
h4:after {
content: "\00b0"
}
.collapse{
height: auto;
width: 90%;
}
.morningforecast,.nightforecast
{
width: 100%;
height: auto;
padding: 20px;
}
.pull-right{
width: 250px;
}
.forecast
{
margin-top: 150px;
}
.btn-info
{
width: 100%;
height: auto;
background-color: #DEDEE6;
text-align: left;
color: #171515;
font-size: 20px;
}
@media screen and (min-width: 360px) and (max-width: 640px)
{
body
{
padding-bottom:100px;
}
#weather
{
padding: 20px;
width: 170px;
height: 170px;
border-radius: 50%;
background-color: rgba(209, 210, 243, 0.2);
box-shadow: 2px 10px 15px #967C7C;
}
#weather p{
font-size: 15px;
font-family: fantasy;
}
#weather h2
{
font-size: 17px;
}
#weather img{
width: 50px;
height:50px;
}
h3
{
font-size: 30px;
font-family: cursive;
color: #070763;
font-weight: bolder;
}
.locsearch
{
padding-left: 25%;
}
header>img
{
width: 150px;
}
/* .col-sm-6
{
background-color: #97CDE0;
padding: 35px;
} */
table {
border-collapse: collapse;
width: 100%;
}
table th,
table td {
padding: 5px !important;
}
#table2>tbody>tr>th, #table1>tbody>tr>th
{
font-size: 15px;	
padding-left: 25px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
#table1>tbody>tr>td
{
line-height: 1.5em;
font-size: 10px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
} 
#table2>tbody>tr>td
{
font-size: 10px;
}
thead>tr>th>a{
font-size: 15px;
}
#hourstable
{
height: 490px;
}
#table2>tbody>tr>th
{
padding:12px;
} 
#table1>tbody>tr>th
{
font-size: 13px;
} 
#table2>tbody>tr>td>img{
margin-top: -10px;
width: 40px;
height: 40px;
}
/* .collapse{
height: auto;
width: 90%;
}*/
.morningforecast,.nightforecast
{
padding: 10px;
} 
/* .pull-right{
width: 250px;
}
.forecast
{
margin-top: 150px;
} */
.btn-info
{
font-size: 15px;
padding: 3px 3px;
}
.btn-info>img
{
width: 40px;
height: 40px;
}
}
@media screen and (min-width: 320px) and (max-width: 568px)
{
body
{
padding-bottom:100px;
}
#weather
{
padding: 20px;
width: 170px;
height: 170px;
border-radius: 50%;
background-color: rgba(209, 210, 243, 0.2);
box-shadow: 2px 10px 15px #967C7C;
}
#weather p{
font-size: 15px;
font-family: fantasy;
}
#weather h2
{
font-size: 17px;
}
#weather img{
width: 50px;
height:50px;
}
h3
{
font-size: 30px;
font-family: cursive;
color: #070763;
font-weight: bolder;
}
.locsearch
{
padding-left: 25%;
}
header>img
{
width: 150px;
}
/* .col-sm-6
{
background-color: #97CDE0;
padding: 35px;
} */
table {
border-collapse: collapse;
width: 100%;
}
table th,
table td {
padding: 5px !important;
}
#table2>tbody>tr>th, #table1>tbody>tr>th
{
font-size: 15px;	
padding-left: 25px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
#table1>tbody>tr>td
{
line-height: 1.5em;
font-size: 10px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
} 
#table2>tbody>tr>td
{
font-size: 10px;
}
thead>tr>th>a{
font-size: 15px;
}
#hourstable
{
height: 490px;
}
#table2>tbody>tr>th
{
padding:12px;
} 
#table1>tbody>tr>th
{
font-size: 13px;
} 
#table2>tbody>tr>td>img{
margin-top: -10px;
width: 40px;
height: 40px;
}
/* .collapse{
height: auto;
width: 90%;
}*/
.morningforecast,.nightforecast
{
padding: 10px;
} 
/* .pull-right{
width: 250px;
}
.forecast
{
margin-top: 150px;
} */
.btn-info
{
font-size: 15px;
padding: 3px 3px;
}
.btn-info>img
{
width: 40px;
height: 40px;
}
}
@media screen and (min-width: 600px) and (max-width: 1024px)
{
}
@media screen and (min-width: ) and (max-width: )
{
}
@media screen and (min-width: 412px) and (max-width: 732px)
{
}
