body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
    float: right;
}

.nav > li {
     display: inline-block;
    font-size: 30px; 
}

.homepage {
    background-image: url(srujana.png);
    background-size: cover;
    background-repeat: no-repeat;  
    margin-top: 50px;
    width: 100%;
    height: 1000px;
    opacity: 0.7;
    overflow:hidden; 
}

h1 {
     color: antiquewhite;  
    font-family: 'Coda Caption';
    font-size: 95px;
    font-style:italic;	
    font-weight: bold;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

strong {
	font-size: 100px;
}

@-webkit-keyframes example {
    50%   {color: deepskyblue;}
    100%  {color: yellow;}
    35%  {color: darksalmon;}
    25% {color: darkorange;}
}

.moving-zone {
	width: 50%;
    	height: 500px;
    	position: relative;
    	float: right;    
}

.popup {
    position: absolute;
    width: 350px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 40px 0 40px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left,coral 5%, white 95%);
    background: -moz-linear-gradient(top left, coral 5%, white 95%);
    background:  -ms-linear-gradient(top left, coral 5%, white 95%);
    background:  -o-linear-gradient(top left,coral 5%, white 95%);
    background:  linear-gradient(top left,coral 5%, white 95%);
}

.popup-text {
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

b {
    color: firebrick;
    padding: 2px;
}

.page-content {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background-color: cornsilk;  
    overflow:hidden;
    display: none;
    padding-bottom: 200px;
    padding-left: 3em;
}
.row {
	padding: 30px;
}
.col-sm-6, .col-md-4, .col-lg-6 {
	font-size: 25px;
}

.name h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

h2 {
    font-size: 40px;
    font-family: "Coda Caption";
    color: darkcyan;
}

p {
    font-family: "Alegreys Sans";
    font-size: 25px;
}

#qualification > b {
    color: darkcyan;
}

.skills b {
    color: brown;
}
