html {
    height:100%;
    width: auto;
}

body {
    width:100%;
    margin:auto;
    min-width: 750px;
    max-width:100%;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.nav {     
    float: right; 
     padding-right: 3em;
    padding-top: 10px;
}

.navbar-header {
    padding-top: 5px;
    padding-left: 300px;
    display: inline-block;
}

.navbar {
    background-color:darkorange;
}

.brand {
    font-size: 35px;
    font-family: 'DroidSerifItalic';
    font-weight: bold;
    color: black; 
    text-decoration:none!important;    
}

li {
    display: inline-block;
    font-size: 25px;  
    padding: 5px;
    word-spacing: 3px;
}

li a {
color: black;
text-decoration:none!important;
padding: 10px;
padding-left: 30px;
padding-top: 2px;
letter-spacing: 1px;
}

.homepage {
    background-image: url(srujana.png);
    background-size: cover;
    background-repeat: no-repeat;  
    margin-right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 700px;
    opacity: 0.7;
    overflow:hidden;  
     top: 140px;
    right: 327px;
    display: inline-block;
}

h1 {
     color: antiquewhite;  
    font-family: 'Coda Caption';
    font-size: 90px;
    font-style:italic;	
    font-weight: bold;
    padding: 20px;
    float: right;
    margin-top: 200px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

strong {
	font-size: 90px;
}

@-webkit-keyframes example {
    50%   {color: deepskyblue;}
    100%  {color: yellow;}
    35%  {color: white;}
    25% {color: black;}
}

.moving-zone {
    width: 100px;
    height: auto;
    padding: 0px;
    position: relative;    
}

.popup {
    position: absolute;
    margin-top: 500px;   
    margin-left: 1100px;
    min-width: 500px;
    max-width: 700px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 40px 0 40px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left,coral 5%, white 95%);
    background: -moz-linear-gradient(top left, coral 5%, white 95%);
    background:  -ms-linear-gradient(top left, coral 5%, white 95%);
    background:  -o-linear-gradient(top left,coral 5%, white 95%);
    background:  linear-gradient(top left,coral 5%, white 95%);
}

.popup-text {
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

b {
    color: firebrick;
    padding: 2px;
}

.page-content {
    width: auto;
    height: auto;
    margin: 0px auto;
    background-color: cornsilk;  
    overflow:hidden;
    padding-bottom: 200px;
}

.col-lg-4,.col-md-4,.col-sm-4 {
    padding-left: 20em;
    padding-right: 10em;
    margin-top: 150px;
    }

.col-lg-5,.col-md-5,.col-sm-5 {    
    font-size: 25px;
    margin-top: 120px;
}

.name h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    padding-bottom: -700px;
}

h2 {
    font-size: 40px;
    font-family: "Coda Caption";
    color: darkcyan;
}

p {
    font-family: "Alegreys Sans";
    font-size: 25px;
}

.qualifications
{    
    margin-left: 260px;
    font-size: 32px;
    padding-top: 20px;    
    overflow: hidden;
    
}

.qualifications b {
    color: darkcyan;
}

.skills b {
    color: brown;
}

.contactinfo {
    width: 100%;
    height: 100%;
}

.contact {
	max-width:500px;
	width:100%;      
	margin: auto;
	padding-top: 200px;  
}

#contact {
	background:#F2F7F9;
	padding:25px;
	margin:50px 0;
    height: 700px;
    padding: 100px;
    width: 600px;
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background-color:#8FB5C1;    
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#A6CFDD;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

.col-lg-4 li a {    
    padding: 10px;
}

.col-lg-4 li p {    
    padding: -30px;
    line-height: 0px;
}

.sitelinks ul {    
    margin-top: 300px;  
}

.col-lg-4 li {
   line-height: 100px;
}

.site-footer { 
    background-color:aliceblue;
    text-align: center;
    font-size: 20px;
    position: fixed;
    margin-left:0;
    margin-right: 0;
    bottom: 0; 
    width: 100%;
    height: auto;    
}

