body {
	
    background-image: url(srujana.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
    float: right;
}

.nav > li {
     display: inline-block;
    font-size: 30px; 
}

.homepage {
	margin-top: 200px;
    	width: 100%;
    	height: 100%;
    	text-align: center;
    	background-color: rgba(205,205,200, 0.3);
    	overflow: hidden;
}
.img-circle {
	radius: 50%;
	width: 450px;
    	padding: 30px;
}
b {
    color: firebrick;
    padding: 2px;
}
#mainContainer {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.page-content {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background-color: rgba(255, 153, 51, 0.3);
    overflow: hidden;
    display: none;
    color: darkkhaki;
    padding-bottom: 200px;
    padding-left: 3em;
}
.row {
	padding: 30px;
}
.col-sm-6, .col-md-4, .col-lg-6 {
	font-size: 25px;
}

.name h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

h2 {
    font-size: 40px;
    font-family: "Coda Caption";
    color: cornsilk;
}

p {
    font-family: "Alegreys Sans";
    font-size: 25px;
}

#qualification > b {
    color: cornsilk;
}

.skills b {
    color: burlywood;
}
.contactinfo {
	
	margin-top: 200px;
    	width: 100%;
    	height: 100%;
    	text-align: center;
    	background-color: rgba(205,205,200, 0.3);
    	overflow: hidden;
	display: none;
}

#slide1 { 
	color:Green;
    background-color:#eee;
    border:2px solid #333;
    display:none;
    float: right;
    text-align:justify;
    width: 350px;
    height: 500px;
}

#slide2 {
	color:Green;
    	background-color:#eee;
    	border:2px solid #333;
    	display:none;
    	position:absolute;
     	bottom:0;
  	width: 100%;
  	height: 500px;
  	padding-bottom:2%;
  	z-index: 100;
}

.site-footer { 
    background-color:aliceblue;
    text-align: center;
    font-size: 20px;
    position: fixed;
    margin-left:0;
    margin-right: 0;
    bottom: 0; 
    width: 100%;
    height: auto;    
}
