
@{
    ViewBag.Title = "About";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="page-content pages" id="about">
    <div class="name">
        <h2>
            ABOUT
            <b>SRUJANA</b>
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="dodeca">
                <div class="dode1">
                    <div class="dode2">
                        <img src="../Pictures/pic2.JPG" width="320" height="313">
                    </div>
                </div>
            </div>
                </div>
                <div class="introduction">
                    <h2>WEB DEVELOPER</h2>
                    <p>I'm a self-taught web developer living in Redmond, WA. Plain and simple, I enjoy working on web applications - I can see visually what I've been upto 😉. I'm passionate about writing clean, and optimized code designs. My goal is to develop attractive, usable, accessible designs to provide the best possible user experience.</p>
                    <p>I have good experience in web developing. I continue to focus my time in developing professional, innovative and creative solutions for clients. I have a good knowledge in HTML, CSS, JavaScript and C#.</p>
                </div>
            
        </div>
                <div class="qualification">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <i class="fa fa-graduation-cap fa-4x"></i>
                        <hr />
                        <p>Have bachelor's degree in computer science and engineering.</p>

                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <i class="fa fa-code fa-4x"></i>
                        <hr />
                        <p>HTML, CSS, JavaScript, Asp.Net, Bootstrap</p>
                        <p>(Have knowledge on VB, Java, Design Patterns, Web services).</p>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <i class="fa fa-database fa-3x"></i>
                        <hr />
                        <p>Good Practical knowledge on SQL and Mongodb.</p>
                    </div>
                </div>
    </div>
            

