
@{
    ViewBag.Title = "Contact";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<input id="check" type="checkbox">

    <label class="main" for="check">
        <a class="title">
            <i class="fa fa-bars"></i>
        </a>
    </label>
    <div class="radialmenu">
        <a class="plate" href="#"  target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a class="plate" href="h#">
            <i class="fa fa-graduation-cap"></i>
        </a>
        <a class="plate" href="https://github.com/srujima"  target="_blank">
            <i class="fa fa-github"></i>
        </a>
        <a class="plate" href="#">
            <i class="fa fa-phone"></i>
        </a>
        <a class="plate" href="#" target="_blank">
            <i class="fa fa-facebook-f"></i>
        </a>
        <a class="plate" href="http://www.freecodecamp.com/srujana" target="_blank">
            <i class="fa fa-fire"></i>
        </a>
    </div>

