
@{
    ViewBag.Title = "Home";
}
<link href="~/Content/MediaQueries.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="homepage pages" id="home">
    <img src="../Pictures/homepic.JPG" class="img-circle">
    <h1>Srujana Madasu</h1>
    <p>Web Developer</p>
</div>
<div class="mypost">
<h1>My Readings...</h1>

</div>


